/* Avoid things from overflowing out of their boxes */
img, embed, object, video {
    max-width: 100%
}

/* Let's us see where our boxes are */
* {
    outline: 1px solid red !important;
}

img {
  height: auto;
}

html, body, .container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.tap {
  padding: 8px;
}

.logo, .menu, .map, .loc-search, .loc-search-ctrls {
    position: absolute;
}

.logo {
    top: 0;
    left: 0;
    height: 64px;
    width: 160px;
}

.menu {
  top: 64px;
  left: 0;
  width: 64px;
  height: calc(100% - 64px);
}

.map {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    z-index: -1;
}

.loc-search {
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
}

.loc-search-ctrls {
  top: 64px;
  right: 0;
  width: 160px;
  height: 104px;
}

.txt-loc-search {
    width: 160px;
    height: 20px;
}

.radius-loc-search {
    position: absolute;
    bottom: 0;
    left: 0;
}

.go-loc-search {
    position: absolute;
    bottom: 0;
    right: 0;
}
